In [3]:
import pandas as pd

columns = ["Name", "Age", "Height"]
data = [
		["Ted", 24, 177],
		["Judy", 27, 183],
]

df = pd.DataFrame(data=data, columns=columns)

df

   Name  Age  Height
0   Ted   24     177
1  Judy   27     183

In [2]:
df.to_json('./test_pandas_columns.json', orient="columns")

In [4]:
df.to_json('./test_pandas_records.json', orient="records")

In [5]:
df.to_json('./test_pandas_index.json', orient="index")

In [6]:
df.to_json('./test_pandas_split.json', orient="split")

In [7]:
df.to_json('./test_pandas_table.json', orient="table")