In [1]:
import pymysql

In [8]:
# 設定資料庫連線資訊
host = "host.docker.internal"
port = 3306
user = "root"
passwd = "HOWdoyouturnthison#123"
db = "TESTDB"
charset = "utf8mb4"

# 建立連線
conn = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db, charset=charset)
print("Successfully connected!")

Successfully connected!

In [9]:
config = {
    "host": "host.docker.internal",
    "port": 3306,
    "user": "root",
    "passwd": "HOWdoyouturnthison#123",
    "db": "TESTDB",
    "charset": "utf8mb4",
}

conn = pymysql.connect(**config)

In [13]:
def test_fun(a, b, *args, **args_dist):
    print(a, b)
    for i in args:
        print(i)

    print(args_dist)

test_fun(1,2,3,4,5,kkk=123, bbb=333)

1 2
3
4
5
{'kkk': 123, 'bbb': 333}

In [14]:
cursor = conn.cursor()

In [15]:
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('001', 'Mike', '002', 45, 'M', 60000, '2020-04-24 14:59:57');
"""

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)

1

In [16]:
conn.commit()

In [17]:
sql = """select * from staff"""
cursor.execute(sql)

1

In [18]:
cursor.fetchall()

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),)

In [19]:
cursor.fetchall()

()

In [20]:
sql = """select * from staff"""
cursor.execute(sql)
data = cursor.fetchall()

In [21]:
data

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),)

In [23]:
sql_insert = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES (%s, %s, %s, %s, %s, %s, %s);
"""

values = [
    ("009", "Mike", "002", "45", "M", "60000", "2020-10-13 21:41:49"),
    ("002", "Judy", "002", "30", "F", "48000", "2020-10-13 21:41:49"),
    ("003", "Allen", "001", "22", "M", "50000", "2020-10-13 21:41:49"),
    ("004", "Tom", "002", "47", "M", "47000", "2020-10-13 21:41:49"),
    ("005", "Jack", "003", "36", "M", "52000", "2020-10-13 21:41:49"),
    ("006", "Abby", "002", "24", "F", "45000", "2020-10-13 21:41:49"),
    ("007", "Trump", "001", "80", "M", "80000", "2020-10-13 21:41:49"),
    ("008", "Marry", "003", "29", "F", "87000", "2020-10-13 21:41:49"),
]

cursor.executemany(sql_insert, values)

8

In [24]:
conn.commit()